<br />
<blockquote>
    <input placeholder="Row" type="number" min="0" (input)="selectCell($event)" [(ngModel)]="y">
    <input placeholder="Column" type="number" min="0" (input)="selectCell($event)" [(ngModel)]="x">
    <input placeholder="Set new value" (input)="changeValue($event)" [(ngModel)]="value">
    <br /><br /><br />

    <hot-table [data]="data" [columns]="columns" [colWidths]="colWidths" hotId="hotInstance"></hot-table>
    
    <br /><br />
    <button (click)="load($event)">Load Data</button>
    <button (click)="change($event)">Set (1,2) to 500</button>
</blockquote>
